<div style="text-align:center">

  <h1>
    CHAS
  </h1>
  <h2>LOGIN</h2>


  <label>Correo </label> :  <input type="email" size="20" maxlength="20" [(ngModel)]="Correo" name="u" placeholder="Correo" required /><br>
  <label>Contraseña</label> :<input type="password"  maxlength="8" [(ngModel)]="Contrasena" name="u" placeholder="Password" required /><br>
  <input type="submit" value="LOGIN" routerLink="./productos" class="btn btn-primary btn-block btn-large" (click)=" registrar($event)"/>
  <router-outlet></router-outlet>
</div>
