<!--The content below is only a placeholder and can be replaced.asdasdkasd-->
<div style="text-align:center">
  <header style="background-color:#ffa000;">
    <a routerLink="/inicio" style="color:white;margin-right:10px">Inicio </a>

    <a routerLink="/login" style="color:white;margin-right:10px">Login </a>

    <a routerLink="/registro" style="color:white;margin-right:10px">Registros</a>

    <a routerLink="/productos" style="color:white;margin-right:10px">Productos</a>
    <a routerLink="/lista-usuarios" style="color:white;margin-right:10px">Lista Usuarios</a>
    <a routerLink="/crear-producto" style="color:white;margin-right:10px">Crear Producto</a>
    <a routerLink="/eliminar-producto" style="color:white;margin-right:10px">Eliminar Producto</a>
    <a routerLink="/modificar-producto" style="color:white;margin-right:10px">Modificar Producto</a>
    <a routerLink="/modificar-usuario" style="color:white;margin-right:10px">Modificar Usuario</a>
    <a routerLink="/eliminar-usuario" style="color:white;margin-right:10px">Eliminar Usuario</a>
    <router-outlet></router-outlet>




  </header>


</div>
