<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>MODIFICAR PRODUCTO</h2>

    Nombre     <input type="tex" size="20" maxlength="20" [(ngModel)]="Nombre_Pro" name="u" placeholder="Nombre" required /><br>
    Descripcion  <input type="tex" size="20" maxlength="20" [(ngModel)]="Descripcion" name="u" placeholder="Descripcion" required /><br>
    Precio <input type="text" size="20" maxlength="20" [(ngModel)]="precio" name="u" placeholder="Precio"required /><br>
    <input type="submit" value="Enviar" />

</div>
