<div >
<table>
  <caption>Productos</caption> <tr>
  <th>Nombre</th> <th>Peso</th> <th>Precio</th>
</tr>
  <tr>
    <td>Miel del valle</td>
    <td>60gr</td>
    <td>25bs.</td> </tr>
  <tr>
    <td>Leche pil</td>
    <td>1L</td>
    <td>7bs</td> </tr>
  <tr>
    <td>Sal yodada</td>
    <td>1kg</td>
    <td>5bs</td> </tr>
</table>
</div>
