
<div style="text-align:center">
  <h1>
    CHAS
  </h1>
  <h2>REGISTRO</h2>
  <body>

  Nombre     <input type="text" size="20" maxlength="20" [(ngModel)]="Nombre" name="u" placeholder="Nombre" required /><br>
  Correo     <input type="email" size="20" maxlength="20" [(ngModel)]="Correo" name="u" placeholder="Correo" required /><br>
  Contraseña <input type="password"  maxlength="8" [(ngModel)]="Contrasena" name="u" placeholder="Password" required /><br>
  Nombre Factura <input type="text" size="20" maxlength="20" [(ngModel)]="factura" name="u" placeholder="Nombre para Factura"required /><br>
  Celular    <input type="tel" size="20" maxlength="20" [(ngModel)]="Celular" name="u" placeholder="Celular"required /><br>
  NIT        <input type="tex" size="20" maxlength="20" [(ngModel)]="Nit" name="u" placeholder="Nit" required /><br>
    <input type="submit" value="Enviar" (click)=" save($event)"/>
  </body>
</div>

